<script>

var ivmfiles = ["//vjs.zencdn.net/6.6/video-js.css", "https://28za.short.gy/css"];
for(var i = 0; i < ivmfiles.length; i++) {
    var fileref = document.createElement("link")
    fileref.setAttribute("rel", "stylesheet")
    fileref.setAttribute("type", "text/css")
    fileref.setAttribute("href", ivmfiles[i])
    document.getElementsByTagName("head")[0].appendChild(fileref)
}
document.write('<video id="LIVE" class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9"  controls autoplay poster="https://tvron.net/static/canale/512/pro-tv.png"><source src="https://cmero-ott-live.ssl.cdn.cra.cz/channels/cme-ro-protv/playlist/rum/live_fullhd.m3u8?offsetSeconds=0&url=0"  type="application/x-mpegURL"></video>');
function _LoadIVMScript(c,b){ var a=document.createElement("script");a.type="text/javascript";a.readyState?a.onreadystatechange=function(){ if("loaded"==a.readyState||"complete"==a.readyState)a.onreadystatechange=null,b() }:a.onload=function(){ b() };a.src=c;document.getElementsByTagName("head")[0].appendChild(a) };
function _LoadIVMScriptWithError(c,b,d){ var a=document.createElement("script");a.type="text/javascript";a.readyState?a.onreadystatechange=function(){ if("loaded"==a.readyState||"complete"==a.readyState)a.onreadystatechange=null,b() } :a.onload=function(){ b() };a.addEventListener('error', function(ev){ d(ev.target.src) }, true);a.src=c;document.getElementsByTagName("head")[0].appendChild(a) }
_LoadIVMScript("//vjs.zencdn.net/6.6/video.js",function (){
    _LoadIVMScript("https://28za.short.gy/js/play.js",function (){
        _LoadIVMScriptWithError("//imasdk.googleapis.com/js/sdkloader/ima3.js",function () {
            var player = videojs('LIVE');
                        var options = {
                id: 'ivmPTuJ9TVCjQBVGmD',
                adTagUrl: "https://ivm.lifestylero.ro/vmap.php?guid=PTuJ9TVCjQB&url=" + escape(document.location.href)
            };
            if (typeof __cxSegments !== 'undefined' && Array.isArray(__cxSegments) && __cxSegments.length > 0){
                options.adTagUrl += '&cxSegments=' + __cxSegments.join(',')
            }
            if (typeof __dfp_mature !== 'undefined') {
                options.adTagUrl += "&mature=" + __dfp_mature;
            }
            player.ima(options);
            var contentPlayer =  document.getElementById('LIVE_html5_api');
            if ((navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i)) && contentPlayer.hasAttribute('controls')) {
                contentPlayer.removeAttribute('controls');
            }
            
            var startEvent = 'click';
            if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/Android/i)) {
                startEvent = 'touchend';
            }
            player.one(startEvent, function() {
                player.ima.initializeAdDisplayContainer();
            });
                                    player.logview({ "container": "LIVE", "vid": "", "fullshow": 0, "free": 0});
            player.cxbrat( { "guid": "" } );
        }, function(url){ var player = videojs('LIVE');player.src("https://28za.short.gy/AD.mp4");player.logview({ "container": "ivmPTuJ9TVCjQBVGmD" });});
    } );
} );

</script>